@model Purchasing.Core.Domain.User

@{
    ViewBag.Title = "Profile";
}

<h3>Welcome @Model.FullName</h3>

<br/>
<h3>Actions:</h3>
<ul>
    <li>@Html.ActionLink("Update Email Preferences", "EmailPreferences", "User", new { id = Model.Id }, null)</li>
    <li>@Html.ActionLink("Set Away Status", "AwayStatus", "User", new { id = Model.Id }, null)</li>
</ul>


