<script id="line-item-split-template" type="text/x-jquery-tmpl">
    <tr>
        <td colspan="6">
            {{tmpl "#accounts-select-template"}}
            <div class="account-split-amounts">
                $Amt: <input name="splits[${index}].amount" placeholder="$amt" class="line-item-split-account-amount" title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                (or)
                Pct%: <input name="splits[${index}].percent" placeholder="pct%" class="line-item-split-account-percent" title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>
            </div>
            <input type="hidden" class="line-item-split-item-id" name="splits[${index}].lineItemId" value="${lineItemId}" />
        </td>
    </tr>
</script>