<div id="search-vendor-dialog" title="Search KFS Vendor">
    <section>
        <input type="text" placeholder="Vendor Name" id="search-vendor-dialog-searchbox"/>
        <input type="hidden" id="search-vendor-dialog-selectedvendor"/>
    </section>
    <section>
        <select id="search-vendor-dialog-vendor-address" disabled="disabled">
            <option value="">--Select Address--</option>
        </select>
    </section>
</div>