@{
    ViewBag.Title = "Request";
}

@section AdditionalScripts{
    <style>
        .help
        {
            font-style: italic;
            margin-bottom: 1em;
        }
    </style>
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Vendor</legend>
        <p class="help ui-state-highlight">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

        
    </fieldset>
}




