@{
    ViewBag.Title = "Vendor Search";
}

<form>
    <section>
        <header>Vendor</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <div style="width: 100%; margin: 1em; padding: 1.5em 0; text-align: center;">
            @this.Select("vendors").FirstOption("Select A Vendor").Options(ViewBag.Vendors, "Id", "DisplayName")
            (or)
            <a id="add-vendor" class="button" href="#">Add new vendor</a>        
            (or)
            <a id="search-vendor" class="button" href="#">Search Vendor</a>
            </div>

        </div>
    </section>
</form>

<script type="text/javascript">

    $(function () {

        // open the dialog for searching
        $("#search-vendor").click(function () {
            $("#search-vendor-dialog").dialog("open");
            return false;
        });

        // initialize the dialog
        $("#search-vendor-dialog").dialog({
            autoOpen: false,
            width: 500,
            buttons: {
                Confirm: function () {

                    var addUrl = '@Url.Action("AddKfsVendor", "WorkgroupVendor")';
                    var vendorId = $("#search-vendor-dialog-selectedvendor").val();
                    var typeCode = $("#search-vendor-dialog-vendor-address").val();

                    var that = $(this);

                    $.post(addUrl, { id: 1, vendorId: vendorId, addressTypeCode: typeCode }, function (result) {
                        $("#vendors").append($("<option>").val(result.id).html(result.name));
                        $("#vendors").val(result.id);

                        $(that).dialog("close");
                    });



                },
                Cancel: function () { $(this).dialog("close"); }
            }
        });

        $("#search-vendor-dialog-searchbox").autocomplete({
            source: function (request, response) {
                var searchUrl = '@Url.Action("SearchVendor", "WorkgroupVendor")';
                var searchTerm = $("#search-vendor-dialog-searchbox").val();

                $.getJSON(searchUrl, { searchTerm: searchTerm }, function (results) {

                    response($.map(results, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        };
                    }));

                });
            },
            minLength: 3,
            select: function (event, ui) {

                // set the selected vendor
                $("#search-vendor-dialog-selectedvendor").val(ui.item.value);

                // display the vendor's name
                $(this).val(ui.item.label);

                // search for an address
                searchVendorAddress(ui.item.value);

                return false;

            }
        });
    });
    
    function searchVendorAddress(vendorId) {

        var vendorAddressUrl = '@Url.Action("SearchVendorAddress", "WorkgroupVendor")';

        $.getJSON(vendorAddressUrl, { vendorId: vendorId }, function (results) {

            // clear the current options
            $("#search-vendor-dialog-vendor-address option:not(:first)").remove();

            var select = $("#search-vendor-dialog-vendor-address");

            if (results.length > 0) {

                var data = $.map(results, function (n, i) { return { id: n.Id, name: n.Name }; });

                $.tmpl($("#search-vendor-address-template"), data).appendTo("#search-vendor-dialog-vendor-address");

                // activate control
                select.removeAttr("disabled");
            }
            else {
                // deactivate select
                select.attr("disabled", "disabled");
            }

        });
        
    }

</script>

<script id="search-vendor-address-template" type="text/x-jquery-tmpl">
<option value="${id}">${name}</option>
</script>

<style type="text/css">
#search-vendor-dialog input[type='text'], #search-vendor-dialog select {padding: .5em; min-width: 300px; width: 300px;}
#search-vendor-dialog section {padding: 1em; margin: 10px 0;}
</style>

<div id="search-vendor-dialog" title="Search KFS Vendor">

<section>
<input type="text" placeholder="Vendor Name" id="search-vendor-dialog-searchbox"/>
<input type="hidden" id="search-vendor-dialog-selectedvendor"/>
</section>

<section>
<select id="search-vendor-dialog-vendor-address" disabled="disabled">
    <option value="">--Select Address--</option>
</select>
</section>

</div>