<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
  </runtime>
  <appSettings>
    <add key="Stackify.AppName" value="Purchasing.Jobs.NotificationsCommon" />
    <add key="Stackify.Environment" value="" />
    <add key="Stackify.ProxyServer" value="" />
    <add key="Stackify.ApiKey" value="" />
    <add key="Stackify.ElasticUrl" value="" />
  </appSettings>
<startup></startup></configuration>
