@{
    ViewBag.Title = "Emails";
}

<ul>
    <li><strong>Per Event:</strong>@ViewBag.PerEvent</li>
    <li><strong>Daily:</strong>@ViewBag.Daily</li>
    <li><strong>Weekly:</strong>@ViewBag.Weekly</li>
</ul>

@using (Html.BeginForm("TriggerEmail"))
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Trigger Emails" />
}




