@model Purchasing.Core.Domain.Workgroup

<script type="text/javascript" src="@Url.Script("jquery.tmpl.min.js")"></script>

<script type="text/javascript">

    $(function () {



        $("#role-dialog").dialog({
            autoOpen: false,
            modal: true,
            width: 400,
            buttons: {
                "Account Manager": function () { addPerson("AccountManagers", "acctmgr-container", this); },
                "Approver": function () { addPerson("Approvers", "approver-container", this); },
                "Purchaser": function () { addPerson("Purchasers", "purchaser-container", this); },
                "Cancel": function () { $(this).dialog("close"); }
            }
        });

        $(".person-search").keyup(function (event) {

            if (event.keyCode == 13) {

                var $that = $(this);

                var url = '@Url.Action("SearchPerson")';
                $.getJSON(url, { loginId: $(this).val() }, function (result) {

                    if (result.result) {

                        $("#acct-id").val($that.parents(".accounts-item").data("id"));

                        $("#loginId").html(result.loginId);
                        $("#name").html(result.name);

                        $("#role-dialog").dialog("open");

                        $(".person-search").val("");
                    }
                    else {

                        alert("No user found.");

                    }

                });
            }
        });

        $(".person-search").keypress(function(event) { if (event.keyCode == 13) return false; });

        $(".person").live('click', function () { $(this).remove(); });

    });

    function addPerson(personTypeId, personTypeClass, that) {

        $.template("personTemplate", $("#person-template").html());
        
        var options = [{ Name: $("#name").html(), LoginId: $("#loginId").html(), PersonTypeId: personTypeId}];
        $.tmpl("personTemplate", options).appendTo($(".person-container").find("." + personTypeClass));

        $(that).dialog("close");
        
    }
    
</script>

<style type="text/css">

    .person-container{}

    .person-search { color: Gray; padding: 7px; width: 300px;}

    .person-container { padding: 1em; border: 1px solid #CCCCCC;}
    .person-container .person-header  
    {
        font-weight: bold; 
        font-size: large; 
        border-bottom: 2px solid #CCCCCC;  
        padding-bottom: .5em;
        margin: 1em 0;
    }
    .acctmgr-container, .approver-container, purchaser-container {margin: 3em 0;}
    .person-container .person
    {
        padding: 1em;
        border: 1px solid #CCCCCC;
        display: inline;
        margin-right: 15px;
    }

    .person-container .person
    {
        padding: 1em;
        border: 1px solid #CCCCCC;
        cursor: pointer;
    }
    
    #role-dialog ul
    {
        list-style: none;
    }
    
</style>

<div class="person-container gradientbackground">

    <div class="search-container">
    
        <input type="text" class="person-search"/>

    </div>

    <header class="person-header">Account Manager(s)</header>

    <div class="acctmgr-container"></div>

    <header class="person-header">Approver(s)</header>

    <div class="approver-container"></div>

    <header class="person-header">Purchaser(s)</header>

    <div class="purchaser-container"></div">

</div>

<div id="role-dialog" title="Confirm User">

    <input type="hidden" id="acct-id"/>

    <ul>
        <li>Login Id: <span id="loginId"></span></li>
        <li>Name: <span id="name"></span></li>
    </ul>

</div>

<div id="templates" style="display:none;">

    <div id="person-template">
        <div class="person gradientbackground">
            ${Name} (${LoginId})
            <span class="ui-icon ui-icon-circle-close" style="margin: -3px 4px; display: inline-block;"></span>
            <input type="hidden" id="${PersonTypeId}" name="${PersonTypeId}" value="${LoginId}"/>
        </div>
    </div>

</div>