@model Purchasing.Core.Domain.Workgroup

@{
    ViewBag.Title = "Add Workgroup Account(s)";
}

@{
    Bundles.Reference("css/single/jquery.multiselector.css");
    Bundles.Reference("scripts/public/single/jquery.multiselector.js");
}

@section AdditionalScripts{

    <style type="text/css">
    
        fieldset {padding: 1em;}
    
    </style>

    <script type="text/javascript">

        $(function () {

            var url = '@Url.Action("SearchAccount")';
            $("#accounts").multiSelector({ dataUrl: url });

        });

    </script>

}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<section>

    <header>Account(s)</header>

    <div class="section-contents">
    <select multiple="" id="accounts" name="accounts"></select>
    </div>

</section>

<section>

    <header>People</header>

    <div class="section-contents">
    @Html.Partial("_AccountPeople")
    </div>

</section>

<section>

    <div class="section-contents">
    <ul>
        <li><div class="editor-label">&nbsp;</div>
            <div class="editor-field">
            
                <input type="submit" value="Save" class="button" />
                |
                Cancel

            </div>
        </li>
    </ul>
    </div>

</section>
}