<ul class="navigation">
    <li>@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = ViewBag.NavigationKey == "Home" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("Admin", "Index", "Admin", new { }, new { @class = ViewBag.NavigationKey == "Admin" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("My Profile", "Profile", "User", new { }, new { @class = ViewBag.NavigationKey == "User" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = ViewBag.NavigationKey == "AboutUs" ? "currentpage" : string.Empty })</li>
</ul>
