<ul class="navigation">
    <li>@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = ViewBag.NavigationKey == "Home" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = ViewBag.NavigationKey == "AboutUs" ? "currentpage" : string.Empty })</li>
</ul>
