@model IEnumerable<Purchasing.Core.Domain.ServiceMessage>
@{
    var hasMessages = Model.Count() > 0 ? true : false;
}        
 
@if (hasMessages)
{ 
   <div id="system-messages">
			
	    <div id="system-messages-text">
        
           @foreach (var message in Model.OrderByDescending(a=> a.Critical))
            {
                var isCritical = message.Critical ? "critical" : "non-critical";
                <div class="@isCritical">@message.Message</div>
            }			
          			
	    </div>
			
    </div>
}
