@model Purchasing.Core.Domain.AutoApproval


@{
    ViewBag.Title = "Details";

}



@section SubNav
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
		
	</ul>
}

<section class="display-form ui-corner-all">
    <header class="ui-corner-top">AutoApproval</header>
	<ul>
        
    @Html.Partial("_AutoApprovalDetails")

	</ul>

	<footer class="ui-corner-bottom"></footer>

</section>


