@model Purchasing.Web.Controllers.Dev.AutoApprovalViewModel

@{
    ViewBag.Title = "Edit";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@Html.Partial("_AutoApproval")




