@model IEnumerable<Purchasing.Web.Controllers.RequesterSummaryTotals>


@{
	ViewBag.Title = "Requester Amount Summary";

}


<table>
	<thead>
        <tr>
            <th></th>

			<th>
				Name
			</th>

			<th>
				Pending Total
			</th>

			<th>
				Completed Total
			</th>
            <th></th>
			
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">

            <td></td>
			<td>
				@item.User.FullNameAndId
			</td>

			<td>
				@String.Format("{0:C}", item.PendingTotal)
			</td>

            <td>
                @String.Format("{0:C}", item.CompletedTotal)
            </td>
            <td></td>

		</tr>
		odd = !odd;
}
	</tbody>
</table>




