@{
  ViewBag.Title = "Not Authorized";
}

@* The default error message is not necessary if the error message banner is displayed. *@
@if (!TempData.ContainsKey("ErrorMessage"))
{
  <h2>You are not authorized to view that.</h2>
}
