@{
    ViewBag.Title = "Instructions";

}

<section class="display-form">
    <header class="ui-widget-header ui-corner-top">Instructions</header>
    <div class="section-contents">
        <ul>
            <li>
                1) Complete and save the Departmental Admin Request form. (The previous page.)
            </li>
            <li>
                2) Watch the videos in the links below.
            </li>
            <li>
                3) Decide on the Organizational structure and where you will want to create administrative workgroups. We have provided an online tool to help with this, but you may find it easier to just draw it on paper.
            </li>
            <li>
                4) When you are ready to test out your skills, <strong>submit a help ticket</strong> or email <a href="mailto:jsylvestre@ucdavis.edu?subject=PrePurchasing - Ready for Training">Jason</a> with a subject line like "PrePurchasing - Ready for Training". We will email you when we have created an account for you on the training system. You will then have about a week to create some workgroups, and some orders for those workgroups. <strong>Note!</strong> The information on this training version is cleared out every week or so. The workgroups you set up here do not have to be 100% complete, they are intended for you to test out features. Only the production version of PrePurchasing will send out emails, so you don't have to worry about making mistakes.
            </li>
            <li>5) When you have created and approved a couple orders for the workgroups you have created, feel comfortable with PrePurchasing, and want Departmental Admin access to the production version, <strong>submit a help ticket</strong> or email <a href="mailto:jsylvestre@ucdavis.edu?subject=PrePurchasing - Ready for Production Version">Jason</a> with a subject line like "PrePurchasing - Ready for Production Version". We will verify that you have created some orders on the training version. We will then grant you Departmental Admin access to our test version and production version. The test version is where you can play with workgroups so the production version doesn't get cluttered up with mistakes.</li>
        </ul>
    
     
    </div>
</section>

<section class="display-form">
    <header class="ui-widget-header ui-corner-top">Videos</header>
    <div class="section-contents">
        <ul>
            <li>
                <div>
                    <a href="http://youtu.be/2UfpZOgsWwA" target="_blank"><strong>1) Departmental Admin Power Point Presentation</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/Td_812wWgOA" target="_blank"><strong>2) Workgroup Tool</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/s1BwMkODalA" target="_blank"><strong>3) Organizations</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/VITVL6UjndM" target="_blank"><strong>4) Create Workgroup</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/dU0QM1oOI40" target="_blank"><strong>5) Edit Workgroup</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/_vvGpo3JPNQ" target="_blank"><strong>6) Create Orders</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/LgZA5y8oZcI" target="_blank"><strong>7) Approve and Deny Orders</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/_LZEgxA6KUU" target="_blank"><strong>8) Preferences</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="http://youtu.be/29Q2bDZaaKQ" target="_blank"><strong>9) Help System</strong></a>
                </div>
            </li>
        </ul> 

    </div>
</section>

