@{
    ViewBag.Title = "Checkbox Testing";
}

@using (Html.BeginForm()) { 
<section class="display-form">

    <div class="section-contents">
    
        <ul>
            <li><div class="editor-label">First Name:</div>
                <div class="editor-field">@Html.TextBox("FirstName")</div>
            </li>
            <li><div class="editor-label">Last Name:</div>
                <div class="editor-field">@Html.TextBox("LastName")</div>
            </li>
            <li><div class="editor-label">Is Human</div>
                <div class="editor-field">@Html.CheckBox("IsHuman")</div>
            </li>
            <li><div class="editor-label">Species</div>
                <div class="editor-field">
                    <select id="species">
                        <option id="0">--Select Species--</option>
                        <option id="1">Human</option>
                        <option id="2">Decapodian</option>
                    </select>
                </div>
            </li>
            <li><div class="editor-label">Is Active</div>
                <div class="editor-field">@Html.CheckBox("IsActive")</div>
            </li>
        </ul>

    </div>

</section>
}

<script type="text/javascript">

    $(function () {

        $("#LastName").keypress(function () {

            $("#IsHuman").siblings("span").focus();

        });

    });

</script>