@{
    ViewBag.Title = "Table";
}

<script type="text/javascript" src="https://raw.github.com/jquery/jquery-tmpl/master/jquery.tmpl.min.js"></script>

<script type="text/javascript">
    $(function () {

        $("#update-table").click(function () {

            var url = '@Url.Action("Updatetable")';

            $.getJSON(url, { dataId: 0 }, function (result) {

                $("#data tbody").empty();

                $("#row-template").tmpl(result).appendTo("#data tbody");
                
            });

        });

    });
</script>

<script id="row-template" type="text/x-jquery-tmpl">
    <tr>
        <td></td>
        <td>${FirstName}</td>
        <td>${MI}</td>
        <td>${LastName}</td>
        <td>${Email}</td>
    </tr>
</script>

<input type="button" value="Update Table" id="update-table"/>

<table id="data">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>MI</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Philip</td>
            <td>Jay</td>
            <td>Fry</td>
            <td>pjfry@planex.com</td>
        </tr>
        <tr>
            <td></td>
            <td>John</td>
            <td></td>
            <td>Zoidberg</td>
            <td>jzoid@planex.com</td>
        </tr>
        <tr>
            <td></td>
            <td>Amy</td>
            <td></td>
            <td>Wong</td>
            <td>awong@planex.com</td>
        </tr>
        <tr>
            <td></td>
            <td>Zapp</td>
            <td></td>
            <td>Brannigan</td>
            <td>zapp@planex.com</td>
        </tr>
    </tbody>
</table>