@model Purchasing.Core.Domain.AutoApproval


@{
    ViewBag.Title = "Details";

}



@section SubNav
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id, showAll = @ViewBag.ShowAll }, new { @class = "button" }) </li>
			<li>@Html.ActionLink("Back to List", "Index", new { showAll = @ViewBag.ShowAll }, new { @class = "button" })</li>
		
	</ul>
}

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Auto Approval</header>
	<ul>
        
    @await Html.PartialAsync("_AutoApprovalDetails")

	</ul>


</section>


