@using Purchasing.Mvc.Models
@model AutoApprovalViewModel

@{
    ViewBag.Title = "Edit";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", new { showAll = @ViewBag.ShowAll }, new { @class="button"})</li>
	</ul>
}

@await Html.PartialAsync("_AutoApproval")




