<script id="accounts-search-dialog-results-template" type="text/x-jquery-tmpl">
    <tr>
        <td><input type="button" class="result-select-btn" value="Select" /></td>
        <td class="result-name">${name}</td>
        <td class="result-account">${account}</td>
    </tr>
</script>