<script id="item-modification-template" type="text/x-jquery-tmpl">
    <section id="item-modification-section">
        <header class="ui-widget-header ui-corner-top">Line Item And Account Modification</header>

        <div class="section-contents">
		
            <div class="section-text">
                <p>
                    Need to change the Account or need to change something in the Line Items? <br/> <br/>
                    Click the "Edit Line Items and Accounts" below
                    to enable modification of those.
                    We specifically require this to be clicked even when you are on the edit page because changing account information will
                    cause the approvals for this order to be recalculated.
                </p>
            </div>
		<div>
			<ul>
				<li>
					<div class="editor-label">
						
					</div>
					<div class="editor-field">
						<a href="#" class="button" id="item-modification-button">Edit Line Items and Accounts</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

</section>
</script>