@model ReviewOrderViewModel
<section id="ae-section" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header showInNav">Aggie Enterprise System Details</header>
    <div class="section-contents">
        <div class="col1">
    
            <ul>
                <li><span>Request #:</span><strong id="ae-requestid"></strong></li>
            </ul>

            <a id="ae-view-errors" asp-controller="Order" asp-action="ViewAeErrorDetails" asp-route-id="@Model.Order.Id" class="button" style="display:none">View Error Details</a>
        </div>
        <div class="col2">
            <section class="display-form ui-corner-all" id="ae-additional-info">

                <header class="ui-corner-top ui-widget-header">Additional Information</header>

                <div id="ae-data" class="section-contents" style="display:none;">

                    <ul>
                        @*<li><span>PO #:</span><strong id="kfs-ponum"></strong></li>*@
                        <li><span>Status: </span><strong id="ae-request-status"></strong></li>
                        <li><span>Tracking Id: </span><strong id="ae-request-tracking"></strong></li>
                        <li><span>Reference: </span><strong id="ae-request-reference"></strong></li>
                        <li><span>Notes: </span><strong id="ae-request-notes"></strong></li>
                        <li><span>Requested: </span><strong id="ae-request-requested"></strong></li>
                        <li><span>Last Update: </span><strong id="ae-request-updated"></strong></li>
                        <li><span>Processed Date: </span><strong id="ae-request-processed"></strong></li>
                        <li><span>Request: </span><strong id="ae-request-req"></strong></li>
                        <li><span>PO Number: </span><strong id="ae-request-po"></strong></li>
                    </ul>
                </div>
                <div id="ae-loading" class="section-contents">
                    <ul>
                        <li id="ae-loading-status">Loading The Aggie Enterprise Financial Data For This Order</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>
