@model ReviewOrderViewModel
<section id="business-purpose-section" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header showInNav">Business Purpose</header>
    <div class="section-contents">
        <div class="col1">
            <ul>
                <li><span>Request Type:</span><br/><strong>@Model.Order.RequestType</strong></li>
                <li><span>Business Purpose: </span><br/><strong>@Model.Order.BusinessPurpose</strong></li>
            </ul>

        </div>
    </div>
</section>
