@model ReviewOrderViewModel

@if (Model.CanEditOrder)
{
    <section class="ui-corner-all display-form">
        <header class="ui-corner-top ui-widget-header showInNav">Review Decision</header>
        <div class="section-text">
            @if (Model.CanSubmitOrder)
            {
                if (Model.IsPurchaser)
                {
                    <p>Complete this order by choosing the type of order this request should become and clicking 'Complete'</p>
                }
                else
                {
                    <p>You can approve this order by clicking 'Approve' below, or deny the order by entering a comment (required for denials) and clicking 'Deny'.</p>   
                }
            }
            else
            { //Edit without submit means you can't advance the order but can still deny it
                <p>Warning: You cannot advance this order until it is assigned at least one account. @Html.ActionLink("Please edit this order", "Edit", new {Model.Order.Id}) and rectify the issue before proceeding.</p>
            }
        </div>
        @if (Model.CanSubmitOrder)
        {
            if (Model.IsPurchaser)
            {
                <div id="error-message">
                    WARNING!!! The last day to complete order in KFS is November 22th, 2023  After this date, these types of orders must be completed in Aggie Enterprise January 1st 2024.
                </div>
            }
        }
        <div class="section-contents">
            @using (Html.BeginForm("Approve", "Order", new { Model.Order.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <ul>
                    <li>
                        <div class="display-label">Comment (Required For Deny)</div>
                        <div class="display-details"><textarea id="comment" name="comment"></textarea></div>
                    </li>
                    @if (Model.CanSubmitOrder && !Model.HasInvalidAccounts)
                    {
                        if (Model.IsPurchaser)
                        {
                        <li>
                            <div class="display-label">Complete order as </div>
                            <div class="display-details">
                                @Html.Select("orderType", o => o.Options(Model.OrderTypes, x => x.Id, x => x.Name).Selected("AE"))
                                <select id="kfsDocType" name="kfsdoctype" style="display: none">
                                    <option value="">-- Select A Document Type --</option>                                  
                                    <option value="PR">Purchase Request</option>
                                    <option value="PR2">Purchase Request without KFS Document</option>
                                </select>
                                <input type="submit" id="complete-order" name="action" class="button" value="Complete"/>
                            </div>
                        </li>
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <br />
                                (or)
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                            </div>
                        </li>
                        }
                        else
                        {
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <input type="submit" id="approve-order" name="action" class="button" value="Approve"/>
                                (or)
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                        
                            </div>
                        </li>
                        }
                    }
                    else
                    {
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
    
}