<div id="address-dialog" title="Add Shipping Address">
    <form id="address-form">
    <section class="section-contents">
        <div class="section-text">
            <p>
                Please fill out the information for a new shipping address and then click 'Create Shipping Address'. 
                Fields decorated with <span style="color: red;">*</span> are required.                
            </p>
            <p><span style="color: red;">NEW!!!</span> If this is a campus address, please search for a valid address.</p>
        </div>
        <ul>
            <li>
                <div class="editor-label required">
                    Name: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-name" name="address-name" type="text" placeholder="Address Name"
                        class="required" maxlength="50" />
                    <span data-valmsg-for="address-name" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Campus Address:
                </div>
                <div class="editor-field">
                    <input id="address-search" name="address-search" type="text" placeholder="Search" maxlength="60" />
                        <input id="address-aeLocationCode" name="address-aeLocationCode" type="hidden" />
                        <span data-valmsg-for="address-search" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div style="margin-left: 126px;">
                    <span id="location-code-display" class="display-details"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Building: </div>
                <div class="editor-field">
                    <input id="address-building" name="address-building" type="text" placeholder="Building" maxlength="50" />
                    <input id="address-buildingcode" name="address-buildingcode" type="hidden" />
                    <span data-valmsg-for="address-building" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div style="margin-left: 126px;">
                    <span id="building-code-display" class="display-details"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Room: </div>
                <div class="editor-field">
                    <input id="address-room" name="address-room" type="text" placeholder="Room"
                        maxlength="50" />
                    <span data-valmsg-for="address-room" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    Address: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-address" name="address-address" type="text" placeholder="Address"
                        class="required" maxlength="100" />
                    <span data-valmsg-for="address-address" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    City: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-city" name="address-city" type="text" placeholder="City" class="required"
                        maxlength="100" />
                    <span data-valmsg-for="address-city" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    State: <span class="required">*</span></div>
                <div class="editor-field">
                    <select id="address-state" name="address-state">
                        <option value="AK">ALASKA </option>
                        <option value="AL">ALABAMA</option>
                        <option value="AR">ARKANSAS</option>
                        <option value="AZ">ARIZONA</option>
                        <option value="CA" selected="selected">CALIFORNIA</option>
                        <option value="CO">COLORADO</option>
                        <option value="CT">CONNECTICUT</option>
                        <option value="DC">DISTRICT OF COLUMBIA</option>
                        <option value="DE">DELAWARE</option>
                        <option value="FL">FLORIDA</option>
                        <option value="GA">GEORGIA</option>
                        <option value="HI">HAWAII </option>
                        <option value="IA">IOWA</option>
                        <option value="ID">IDAHO</option>
                        <option value="IL">ILLINOIS</option>
                        <option value="IN">INDIANA</option>
                        <option value="KS">KANSAS </option>
                        <option value="KY">KENTUCKY</option>
                        <option value="LA">LOUISIANA</option>
                        <option value="MA">MASSACHUSETTS</option>
                        <option value="MD">MARYLAND</option>
                        <option value="ME">MAINE</option>
                        <option value="MI">MICHIGAN</option>
                        <option value="MN">MINNESOTA</option>
                        <option value="MO">MISSOURI</option>
                        <option value="MS">MISSISSIPPI</option>
                        <option value="MT">MONTANA</option>
                        <option value="NC">NORTH CAROLINA</option>
                        <option value="ND">NORTH DAKOTA</option>
                        <option value="NE">NEBRASKA</option>
                        <option value="NH">NEW HAMPSHIRE</option>
                        <option value="NJ">NEW JERSEY</option>
                        <option value="NM">NEW MEXICO</option>
                        <option value="NV">NEVADA </option>
                        <option value="NY">NEW YORK</option>
                        <option value="OH">OHIO</option>
                        <option value="OK">OKLAHOMA</option>
                        <option value="OR">OREGON </option>
                        <option value="PA">PENNSYLVANIA</option>
                        <option value="PR">PUERTO RICO</option>
                        <option value="RI">RHODE ISLAND</option>
                        <option value="SC">SOUTH CAROLINA</option>
                        <option value="SD">SOUTH DAKOTA</option>
                        <option value="TN">TENNESSEE</option>
                        <option value="TX">TEXAS</option>
                        <option value="UT">UTAH</option>
                        <option value="VA">VIRGINIA</option>
                        <option value="VI">U.S. VIRGIN ISLANDS</option>
                        <option value="VT">VERMONT</option>
                        <option value="WA">WASHINGTON</option>
                        <option value="WI">WISCONSIN</option>
                        <option value="WV">WEST VIRGINIA</option>
                        <option value="WY">WYOMING</option>
                    </select>                    
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    Zip: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-zip" name="address-zip" type="text" placeholder="Zip" class="required"
                        maxlength="10" />
                    <span data-valmsg-for="address-zip" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Phone:</div>
                <div class="editor-field">
                    <input id="address-phone" name="address-phone" type="text" placeholder="Phone Number"
                        maxlength="15" />
                    <span data-valmsg-for="address-phone" data-valmsg-replace="true"></span>
                </div>
            </li>
        </ul>
    </section>
    </form>
</div>
