@model OrderModifyModel
           
@{
    var submitMap = new Dictionary<string, string> {{"Request", "Create"}, {"Edit", "Save"}, {"Copy", "Save"}};
    var submitText = submitMap[ViewBag.Title];

    var submitTitle = ViewBag.Title == "Copy" ? "Save this order which was duplicated from an existing order" : string.Empty;
}
           
<section id="order-submit-section">
    <div class="section-contents">
        @if (!string.IsNullOrWhiteSpace(Model.Workgroup.Disclaimer))
        {
            <div class="section-text">
                <p><strong>Disclaimer: </strong>@Model.Workgroup.Disclaimer</p>    
            </div>
        }
        <ul>
            <li><div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    <input type="submit" class="button order-submit" value="@submitText" title="@submitTitle"/>
                    |
                    @if (submitText == "Create")
                    {
                        <input type="button" class="button" value="Save For Later" id="save-btn"/> <text>|</text>
                    }
                    @Html.ActionLink("Cancel", "Landing", "Home", new {}, new {id="order-cancel"}) @*This id is an element so the local storage gets cleared out. It is not a route value.*@
                </div>
            </li>
        </ul>
    </div>
