@model OrderModifyModel

@{
    ViewBag.Title = "Edit";
}

@section AdditionalStyles{
    @await Html.PartialAsync("_CssBundle", "~/Css/order") 
}


@section AdditionalScripts{
    <script src="https://finjector.ucdavis.edu/finjector.js?v=6" type="text/javascript"></script>
    @await Html.PartialAsync("_JsBundle", "~/bundles/order")

    <script type="text/javascript">
        $.validator.setDefaults({ ignore: ':hidden :not(.chzn-done)' }); //do not ignore hidden chosen select lists

        $(function () {
            @await Html.PartialAsync("_Options")

            purchasing.init(); //Init all base order form js

            purchasing.initEdit(); //Add in the edit functionality
        });

    </script>
    
}

@await Html.PartialAsync("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm("Edit", "Order", new { Model.Order.Id }, FormMethod.Post, true, new { id = "order-form" }))
{
    <input data-bind="value: adjustRouting" id="adjustRouting" name="adjustRouting" type="hidden" />

    @await Html.PartialAsync("_OrderForm")
}
</div>

@await Html.PartialAsync("_OrderTemplates")

@await Html.PartialAsync("_ItemModificationTemplate")

@await Html.PartialAsync("_OrderDialogs")