@model OrderModifyModel
           
@{
    ViewBag.Title = "Request";
    ViewBag.ShowTour = true;
}

@section AdditionalStyles
{
    @await Html.PartialAsync("_CssBundle", "~/Css/order")
}

@section AdditionalScripts{
     <script type="text/javascript">
        $.validator.setDefaults({ ignore: ':hidden :not(.chzn-done)' }); //do not ignore hidden chosen select lists for validation

        $(function () {
            @await Html.PartialAsync("_Options")

            purchasing.init();

            purchasing.initLocalStorage();

            purchasing.initSaveOrderRequest('@Url.Action("SaveOrderRequest")');
        });

    </script>
    
    @await Html.PartialAsync("_JsBundle", "~/bundles/order")
}

@await Html.PartialAsync("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm("Request", "Order", new { Model.Workgroup.Id }, FormMethod.Post, true, new { id = "order-form" }))
{
    @await Html.PartialAsync("_OrderForm")
}
</div>

@await Html.PartialAsync("_OrderTemplates")

@await Html.PartialAsync("_OrderDialogs")