@model Purchasing.Mvc.Models.WorkgroupAddressViewModel

@{
    ViewBag.Title = "Address Details for " + @Model.Workgroup.Name;
}


@section SubNav
{
	<ul class="navigation">
					<li>@Html.ActionLink("Edit", "EditAddress", new { id = Model.Workgroup.Id, addressid = Model.WorkgroupAddress.Id }, new { @class = "button" }) </li>
			<li>@Html.ActionLink("Back to List", "Addresses", new { id = Model.Workgroup.Id }, new { @class = "button" })</li>
			</ul>
}

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Workgroup Address</header>
	<ul>
		@Html.Partial("_AddressDetails")
	</ul>


</section>


