@model Purchasing.Core.Domain.Workgroup

@{
    ViewBag.Title = "Bulk Vendor";
}

@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Add Workgroup Vendor", "CreateVendor", new { id = Model.Id }, new { @class = "button" })</li>        
        <li>@Html.ActionLink("Back to Vendor List", "VendorList", new { id = Model.Id }, new { @class = "button" })</li>
	</ul>
}

 <section class="ui-corner-all display-form">
    
        <header class="ui-corner-top ui-widget-header">Bulk Vendor Upload</header>

        
            <div class="section-text">
                <p>Use this page to bulk load vendors from an Excel Spreadsheet. Please use this <a href="../../Content/import.xls">sample spreadsheet</a> for a template. Format must match the sample to work. Only valid Excel Spreadsheets are accepted (.xls).</p>
            </div>

        <div class="section-contents">


        @using (Html.BeginForm("BulkVendor", "Workgroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" name="file" />
            <input type="submit" value="Upload" class="button"/>
        }

        </div>
</section>