@model Purchasing.Mvc.Models.WorkgroupAddressViewModel

@{
	ViewBag.Title = "Edit Address";
}



@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Addresses", new { id = @Model.Workgroup.Id }, new { @class = "button" })</li>
	</ul>
}

@section AdditionalScripts
{



}

@await Html.PartialAsync("_AddressForm")