@using Purchasing.Core.Domain
@model IQueryable<Faq>

@{
    ViewBag.Title = "Help";
}

@section AdditionalScripts
{

<style type="text/css">
.faq {
    padding: 2em 2.5em 1.5em;
    border-bottom: 1px dotted #ccc;
}
.faq:last-child {border-bottom: 0px; padding-bottom: 1.5em;}

.question {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    margin-bottom: .5em;
}

.answer {
    margin-top: 1em;
    font-size: 1.1em;
}
</style>

}

<section class="display-form">
<header class="ui-widget-header ui-corner-top">Frequently Asked Questions</header>
@foreach (var faq in Model)
{
    
    <p class="faq">
    
        <span class="question">
        @faq.Question
        </span>

        <span class="answer">
        @faq.Answer
        </span>

    </p>
    
}

</section>