@using Purchasing.Core.Domain
@model IQueryable<Faq>

@{
    ViewBag.Title = "Help";
}

@section AdditionalScripts
{

<style type="text/css">
.faq
{
    margin: 1em;
}

.question
{
    font-weight: bold;
    font-size: large;
}

.answer
{
    margin-top: 1em;
}
</style>

}

@foreach (var faq in Model)
{
    
    <div class="faq">
    
        <div class="question">
        @faq.Question
        </div>

        <div class="answer">
        @faq.Answer
        </div>

    </div>
    
}