@model Purchasing.Core.Domain.User

@{
    ViewBag.Title = "Remove Admin";
}

<h3>Are you sure you want to remove @Model.FullNameAndId from the Admin role?</h3>

@using (Html.BeginForm("RemoveSscAdminRole", "Admin", new { id = Model.Id})) {
    @Html.Partial("_RemoveUserForm")
}




