@model Purchasing.Core.Domain.User

@{
    ViewBag.Title = "Remove SSC Admin";
}

<h3>Are you sure you want to remove @Model.FullNameAndId from the SSC Admin role?</h3>
<h3>Note! This will not remove the user from the Departmental Admin role, only prevent them from being batch updated.</h3>

@using (Html.BeginForm("RemoveSscAdminRole", "Admin", new { id = Model.Id})) {
    @await Html.PartialAsync("_RemoveUserForm")
}




