<div id="WizardNavigation">
    <ul>
        <li>
            <button>Prev</button>
        </li>
        <li>
            <input class="button" type="submit" value="Next" />
        </li>
        <li>
            <button>Skip</button>
        </li>
        <li>
            <button>Exit</button>
        </li>
    </ul>
</div>





