<div id="WizardNavigation">
    <ul>
        <li>
            <a href="@ViewBag.Previous">Prev</a>
        </li>
        <li>
            @if(ViewBag.ListPage != null && (bool)ViewBag.ListPage)
            {
                <a href="@ViewBag.Next">Next</a>
            }
            else
            {
                <input class="button" type="submit" value="Next" />
            }
        </li>
        <li>
            <a href="@ViewBag.Skip">Skip</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Workgroup")">Exit</a>
        </li>
    </ul>
</div>





