<div id="statusbar">
    <h1>@ViewBag.StepName</h1>
    <ul>
        <li class="ui-corner-bl ui-corner-left completed">&nbsp;<span class="hidden_text">Create Workgroup</span></li>

        <li class="completed">&nbsp;<span class="hidden_text">Add Sub-Organizations</span></li>
        <li class="completed">&nbsp;<span class="hidden_text">Add Requestors</span></li>
        <li class="active">&nbsp;<span class="hidden_text">Add Approvers</span></li>
        <li>&nbsp;<span class="hidden_text">Add Account Managers</span></li>
        <li>&nbsp;<span class="hidden_text">Add Purchasers</span></li>
        <li>&nbsp;<span class="hidden_text">Add Accounts</span></li>
        <li>&nbsp;<span class="hidden_text">Add Vendors</span></li>
        <li>&nbsp;<span class="hidden_text">Add Addresses</span></li>
        <li class="ui-corner-br ui-corner-right">&nbsp;<span class="hidden_text">Add Conditional Approvals</span></li>

    </ul>
</div>





