@model Purchasing.Web.Models.WorkgroupAddressViewModel

@{
	ViewBag.Title = "Add Address";
}



@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Addresses", new { id = @Model.Workgroup.Id }, new { @class = "button" })</li>
	</ul>
}

@Html.Partial("_AddressForm")

