@model Purchasing.Web.Controllers.WorkgroupAddressViewModel

@{
	ViewBag.Title = "Add Address";
}



@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Addresses", new {id = @Model.Workgroup.Id})</li>
	</ul>
}

@Html.Partial("_AddressForm")

