@model Purchasing.Web.Models.WorkgroupAddressViewModel

@{
    ViewBag.Title = "Address Details " + @Model.Workgroup.Name;
}


@section SubNav
{
	<ul class="navigation">
					<li>@Html.ActionLink("Edit", "EditAddress", new { id=Model.Workgroup.Id, addressid=Model.WorkgroupAddress.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Addresses", new {id = Model.Workgroup.Id})</li>
			</ul>
}

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">WorkgroupAddress</header>
	<ul>
		@Html.Partial("_AddressDetails")
	</ul>

	<footer class="ui-corner-bottom"></footer>

</section>


