@{
    ViewBag.Title = "Bulk Vendor";
}

<h2>Bulk New Vendor</h2>

Use this page to bulk load vendors from an Excel Spreadsheet. Please use this <a href="../../Content/import.xls">sample spreadsheet</a> for a template. Format must match the sample to work. Only valid Excel Spreadsheets are accepted (.xls and xlsx).
@using (Html.BeginForm("BulkVendor", "Workgroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

