@model Purchasing.Web.Controllers.ManageSyncPermissionsViewModel


@{
    ViewBag.Title = "Manage Sync Permissions";

}






<section class="display-form ui-corner-all box-shadow">

    <header class="ui-corner-top ui-widget-header">Sync Key Information</header>

    <div class="section-contents">
    
    </div>
</section>

<section class="display-form ui-corner-all box-shadow">

    <header class="ui-corner-top ui-widget-header">Sync Log</header>

    <div class="section-contents">
    
    </div>
</section>