<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- system.serviceModel section is not supported on .NET 6 (see https://devblogs.microsoft.com/dotnet/migrating-a-sample-wpf-app-to-net-core-3-part-2/#updating-wcf-client-usage)-->
    <!--<system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="purchaseDocumentsInterfaceServiceSOAPSoapBinding" />
    </basicHttpBinding>
  </bindings>
  <client>
    <endpoint address="http://kfs1.ucdavis.edu/kfs-prd/remoting/purchaseDocumentsInterfaceServiceSOAP" binding="basicHttpBinding" bindingConfiguration="purchaseDocumentsInterfaceServiceSOAPSoapBinding" contract="PurchaseDocumentService.purchasingDocumentsInterfaceServiceSOAP" name="purchasingDocumentsInterfaceServiceSOAPPort" />
  </client>
</system.serviceModel>-->
    <runtime>
    </runtime>
    <startup>
    </startup>
    <appSettings>
        <add key="Stackify.AppName" value="Purchasing" />
        <add key="Stackify.Environment" value="" />
        <add key="Stackify.ProxyServer" value="" />
        <add key="Stackify.ApiKey" value="[External]" />
        <add key="Stackify.ElasticUrl" value="[External]" />
    </appSettings>
</configuration>