@{
    ViewBag.Title = "Search";

}

@section AdditionalScripts
{
    <style type="text/css">
     h2 {margin-bottom: 0px;}
    #body form {text-align: center;}
    .searchbox {width: 50%; font-size: 1.75em; padding: 10px 15px; margin-top: -.5em; margin-bottom: 1em;}
    .searchbutton {font-size: 1.75em !important;}
    </style>

}

@using (Html.BeginForm("Results", "Search", FormMethod.Get))
{
    <input type="search" id="query" name="q" placeholder="Enter search term" class="searchbox" />
    <input type="submit" class="button searchbutton" value="Go!"/>
}

<br />
<section class="display-form">
    <header class="ui-corner-all ui-widget-header">Search tips!</header>
    <ul>
        <li>Use normal 'google' type search queries, keep your searches short to get relevant results (ex: 'beakers' or 'lab coats')</li>
        <li>Searches on Order (justification, delivery info, request number) and Line Items (line description, url, notes, catalog and commodity numbers)</li>
        <li>Also returns Order Comment text and "Custom Field" text</li>
    </ul>
    
</section>