<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
  </startup>
  <runtime>
  </runtime>
  <appSettings>
    <add key="Stackify.AppName" value="Purchasing.Jobs.DailyEmailNotifications" />
    <add key="Stackify.Environment" value="[External]" />
    <add key="Stackify.ApiKey" value="[External]" />
    <add key="Stackify.ElasticUrl" value="[External]" />
  </appSettings>
</configuration>
