@{
    ViewBag.Title = "Financial Systems API";
}

<ul>
    <li><strong>Order 1 Doc Number: </strong>
        @ViewBag.Order1DocNum
    </li>
    <li><strong>Order 2 Doc Number: </strong>
        @ViewBag.Order2DocNum
    </li>
    <li><strong>Order 3 Doc Number: </strong>
        @ViewBag.Order3DocNum
    </li>
    <li><strong>Order 4 Doc Number: </strong>
        @ViewBag.Order4DocNum
    </li>
</ul>

