/*
Page Wrapper
*/
.wrapper {
	width: 1000px;
	margin: auto;
        font-family: Helvetica, Arial, sans serif;
}

ul {
	list-style-type: none;
	margin-left: -20px;
}

li strong {
	display: inline-block;
	width: 100px;
}

li input[type='text']{
	min-width: 100px;
}

li select {
	min-width: 142px;
}

/*
Jquery UI Overrides
*/
.ui-widget {
	font-size: 12px;
}

.ui-widget-header {
	padding: .5em;
}

/*
Control Container, for adding orgs and using templates
*/
#control {
	width: 200px;
	min-height: 300px;
	float: left;
	margin-right: 10px;
	border: 1px solid lightgray;
}

/*
Chart Container
*/
#chart {
	border: 1px solid lightgray;
	float: left;
	width: 785px;
	min-height: 300px;
}

div .node.workgroup
{
	color: #333;
	background-color: #eee;
	height: 100%;
	padding: 5px; 
	border-radius: 12px;
	border: 1px solid #ccc;
}

div .node.workgroup.admin
{
	border: 2px solid #333;
}

#chart .person {
	display: block;
	border: 1px solid d5d9dd;
	width: 85%;
	margin: 2px auto;
	padding: 3px;
	border-radius: 15px;
}

#chart .requester {
	cursor: pointer;
}

#chart .ui-icon { display: none; }

/*
Org Editing Container
*/
#org {
	float: left;
	width: 1000px;
	border: 1px solid #d5d9dd;
	margin-top: 1em;
}

#org .ui-widget-content {
	background-color: white;
	background: none;
	color: black;
	padding: 1em;
	border: none;
}

#org #legend {
	float: right;
	width: 155px;
	margin: 1em;
	border: 1px solid #d5d9dd;
}

#org #legend .colorbox {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

#org  .button{
	margin: 1em;
}

#org .person {
	display: inline-block;
	border-radius: 12px;
	padding: .5em;
}

#org .ui-icon { 
	display: inline-block; 
	cursor: pointer;
}

.workgroup
{
	color: #14337f;
	padding: 2px 0px;
}

.requester {background-color: #46b3f1;}
.approver {background-color: #37dbdf;}
.accountmanager{background-color: #12d271;}
.purchaser {background-color: #d25a12;}


/*
Org Templates
*/
#template-container {
	display: none;
}

.jOrgChart .node .org {padding: 3px; font-size: .85em; display: block;}
