@using Purchasing.Core.Domain
@model IEnumerable<Account>
<script id="accounts-select-template" type="text/x-jquery-tmpl">
    <div class="account-container">
        <select class="account-number" id="splitAccount" name="splits[${index}].Account">
            <option value="" title="No Account Selected">--Account--</option>
            @foreach (Account account in Model)
            {
                <option title="@account.Name">@account.Id</option>
            }
        </select>
        <select name="splits[${index}].SubAccount" class="account-subaccount" disabled="disabled"><option value>--Sub Account--</option></select>
        <input name="splits[${index}].Project" type="text" placeholder="Project" class="account-projectcode" maxlength="4"/>
        <span class="ui-state-default ui-corner-all ui-state-hover" style="margin:.3em .1em; float: right;">
        <a href="#" class="search-account ui-icon ui-icon-search"></a></span>
    </div>
</script>