<div id="accounts-search-dialog" title="Kfs Search Account" style="display:none;">
    <form id="accounts-search-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>            
            <div>
                <input type="hidden" id="accounts-search-dialog-selected"/>
            </div>
            <section>
                <input type="text" id="accounts-search-dialog-searchbox" placeholder="Acct # or Name"/>
                <img src="@Url.Image("details.png")" id="accounts-search-dialog-searchbox-btn"/>
                <table id="accounts-search-dialog-results">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </div>
    </form>
</div>