<div id="address-dialog" title="Add Shipping Address">
    <form id="address-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <ul>        
                <li><div class="editor-label">Name:</div>
                    <div class="editor-field"><input id="address-name" type="text" placeholder="Address Name"/></div>
                </li>
                <li><div class="editor-label">Building:</div>
                    <div class="editor-field"><input id="address-building" type="text" placeholder="Building" /></div>
                </li>
                <li><div class="editor-label">Room:</div>
                    <div class="editor-field"><input id="address-room" type="text" placeholder="Room" /></div>
                </li>                                                                   
                <li><div class="editor-label">Address:</div>                               
                    <div class="editor-field"><input id="address-address" type="text" placeholder="Address" /></div>
                </li>                                                                   
                <li><div class="editor-label">City:</div>                               
                    <div class="editor-field"><input id="address-city" type="text" placeholder="City" /></div>
                </li>                                                                   
                <li><div class="editor-label">State:</div>                              
                    <div class="editor-field"><input id="address-state" type="text" placeholder="State" /></div>
                </li>                                                                   
                <li><div class="editor-label">Zip:</div>                                
                    <div class="editor-field"><input id="address-zip" type="text" placeholder="Zip" /></div>
                </li>                                                                   
                <li><div class="editor-label">Phone:</div>                       
                    <div class="editor-field"><input id="address-phone" type="text" placeholder="Phone Number" /></div>
                </li>
            </ul>
        </div>
    </form>
</div>