@model OrderModifyModel

<section>
    <header class="ui-widget-header ui-corner-top">Business Purpose</header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>
                Please enter your business purpose for placing this order request.
            </p>    
        </div>

        <ul>
            <li>
                <div class="editor-label required">Request Type</div>
                <div class="editor-field">
                    @this.Select("requestType").Options(new [] { "Purchasing", "Payment/Refund", "Travel or Entertainment", "PCARD Receipt", "Other" }).Class("request-types").Selected(Model.Order.RequestType ?? "Purchasing")
                </div>
            </li>
            <li>
                <div class="editor-label required">Business Purpose</div>
                <div class="editor-field">
                    <textarea name="businessPurpose" placeholder="enter your business purpose for placing this order" rows="4" cols="50">@Model.Order.BusinessPurpose</textarea>
                </div>
            </li>
        </ul>

    </div>
</section>

