@model OrderModifyModel

@if (Model.IsNewOrder && Model.ConditionalApprovals != null && Model.ConditionalApprovals.Any())
{
    <section id="conditional-approval-section">
        <header class="ui-widget-header ui-corner-top">Conditional Approvals</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <div>
                <ul>
                    @for (int i = 0; i < Model.ConditionalApprovals.Count; i++)
                    {
                        var currentConditionalApproval = Model.ConditionalApprovals[i];
                        <li>
					        <div class="editor-label">
						        Question:
					        </div>
					        <div class="editor-field">
						        @currentConditionalApproval.Question
					        </div>
				        </li>
                        <li>
                            <div class="editor-label">
						        Answer:
					        </div>
					        <div class="editor-field">
						        <input type="checkbox" name="conditionalApprovals" value="@currentConditionalApproval.Id"/>
					        </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </section>
}