@model OrderModifyModel

@if (Model.IsNewOrder && Model.ConditionalApprovals != null && Model.ConditionalApprovals.Any())
{
    <section id="conditional-approval-section">
        <header class="ui-widget-header ui-corner-top">Conditional Approvals</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>
                    Please answer the following questions. Incorrectly answering questions may delay processing of your request and even result in request cancellation.
                </p>    
            </div>
            <div>
                <ul>
                    @foreach (var currentConditionalApproval in Model.ConditionalApprovals)
                    {
                        <li>
					        <div class="editor-label">
						        Question:
					        </div>
					        <div class="editor-field">
						        @currentConditionalApproval.Question
					        </div>
				        </li>
                        <li>
                            <div class="editor-label">
						        Answer:
					        </div>
					        <div class="editor-field">
						        <input type="checkbox" name="conditionalApprovals" value="@currentConditionalApproval.Id"/>
					        </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </section>
}