<script id="item-modification-template" type="text/x-jquery-tmpl">
<section id="item-modification-section">
	<header class="ui-widget-header ui-corner-top">Line Item And Account Modification</header>

	<div class="section-contents">
		
		<div class="section-text">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
		</div>
		<div>
			<ul>
				<li>
					<div class="editor-label">
						
					</div>
					<div class="editor-field">
						<a href="#" class="button" id="item-modification-button">Enable modification</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

</section>
</script>