<script id="item-modification-template" type="text/x-jquery-tmpl">
    <section id="item-modification-section">
        <header class="ui-widget-header ui-corner-top">Line Item And Account Modification</header>

        <div class="section-contents">
		
            <div class="section-text">
                <p>
                    If you need to change line item details or account distributions, please press the "Enable Modification" button below.  
                    Enabling modification will cause the approvals for this order to be recalculated when you save your changes.
                </p>
            </div>
		<div>
			<ul>
				<li>
					<div class="editor-label">
						
					</div>
					<div class="editor-field">
						<a href="#" class="button" id="item-modification-button">Enable modification</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

</section>
</script>