<script id="line-item-split-template" type="text/html">
    <tr class="sub-line-item-split-row">
        <td data-bind="template: 'accounts-select-template'"></td>
        <td>
            <div class="account-split-amounts">
                <span>$</span>
                <input 
                    data-bind="value: amountComputed, splitName: 'amount', valueUpdate: 'afterkeydown'"
                    autocomplete="off" placeholder="amt" class="line-item-split-account-amount" 
                    title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                &nbsp;&nbsp;
                <input data-bind="value: percentComputed, splitName: 'percent', valueUpdate: 'afterkeydown'" 
                       autocomplete="off" placeholder="pct" class="line-item-split-account-percent" 
                       title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>%
            </div>
            <input data-bind="value: lineId, splitName: 'lineItemId'" type="hidden" class="line-item-split-item-id" />
        </td>
    </tr>
</script>