<script id="line-item-template" type="text/x-jquery-tmpl">
    <tr class="line-item-row">
        <td><input name="items[${index}].quantity" type="text" placeholder="Qty." class="quantity" title="Number of Units for this line item. Will be multipled by price to calculate cost."/></td>
        <td>{{tmpl "#unit-of-measure-select-template"}}</td>
        <td><input name="items[${index}].catalogNumber" type="text" placeholder="Catalog #" class="catalog-num" title="Enter the vendor provided catalog number. Ex: NCC1701" /></td>
        <td><input name="items[${index}].description" type="text" placeholder="Description" class="description" title="Just a friendly description to remember the item by later"/></td>
        <td>
            <input name="items[${index}].price" type="text" placeholder="Price" class="price" title="Price per unit." style="float:left;" />
            <span class="ui-state-default ui-corner-all ui-state-hover" style="float:right; margin:.3em .1em;">
                <a href="#" class="ui-icon ui-icon-calculator price-calculator" title="Calculate unit price." ></a>
            </span>
        </td>
        <td>
            <span class="line-total">$0.00</span>
        </td>
        <td><span class="ui-state-default ui-corner-all ui-state-hover" style="margin:.3em .1em; float: right;">
        <a href="#" class="toggle-line-item-details ui-icon ui-icon-comment" title="Add additional information." ></a></span></td>
    </tr>
    <tr class="line-item-details">
        <td colspan="7">
            <table class="sub-line-item">                            
                <tr>
                    <td>
                        <input type="text" placeholder="Commodity Code" class="search-commodity-code"/>
                        <input type="hidden" name="items[${index}].commodityCode" class="commodity-code-selected"/>
                    </td>
                    <td class="label">URL:</td>
                    <td><input name="items[${index}].url" placeholder="Item URL"/></td>
                    <td class="label">Notes:</td>
                    <td><textarea name="items[${index}].notes" placeholder="Item Notes"></textarea></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="line-item-splits">
        <td colspan="4">
            <input type="hidden" class="line-item-ids" name="items[${index}].id" value="${index}" />
            <table class="sub-line-item-split">
                <tbody class="sub-line-item-split-body" data-line-item-index="${index}"></tbody>
                <tfoot>
                <tr><td colspan="2"><a class="add-line-item-split biggify" style="float: right;" href="#" title="Add a new line item split." ><span class="biggify">+</span>Add Split</a></td></tr>
                </tfoot>
            </table>
        </td>
        <td colspan="3">
            <table class="line-item-splits-totals">
            <tr>
            <td>Split Total:</td>
            <td><span class="add-line-item-split-total">$0.00</span></td>
            </tr>
            <tr class="red">
            <td>Unaccounted:</td>
            <td><span class="add-line-item-split-difference amount-difference"></span></td>
            </tr>
            <tr>
            <td>Tax/Shipping:</td>
            <td>xxx.xx</td>
            </tr>
            <tr>
            <td>Line Total:</td>
            <td><span class="add-line-item-total">$0.00</span></td>
            </tr>
            </table>
        </td>
    </tr>
</script>