<script id="order-split-template" type="text/x-jquery-tmpl">
    <tr class="order-split-line">
        <td>{{tmpl "#accounts-select-template"}}</td>
        <td class="account-split-amounts">
            <span>$</span><input data-bind="value: amountComputed, splitName: 'amount', valueUpdate: 'afterkeydown'"
                                 type="text" autocomplete="off" placeholder="amt" class="order-split-account-amount" 
                                 title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                   
            <input data-bind="value: percentComputed, splitName: 'percent', valueUpdate: 'afterkeydown'" 
                   type="text" autocomplete="off" placeholder="pct" class="order-split-account-percent" 
                   title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>%
        </td>
    </tr>

</script>