@model OrderModifyModel

<section id="order-account-section">
    <header class="ui-widget-header ui-corner-top">
        <div class="col1">Order Details</div>
        <div class="col2"><a href="#" title="Click here to learn all about entering order details" id="orderDetails-intro" data-tourid="orderDetails-intro" class="ui-icon ui-icon-help tour-help"></a><div style="clear:both;"></div></div>
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
        </div>
        <div>
            <ul>
                <li>
                    <input type="radio" name="orderdetails" value="account" id="account" />
					<span class="label"><label for="account" class="editor-label">
						Select An Account
					</label>
					<div class="editor-field" id="account-form">
                        <div class="account-container">
                            @Html.Partial("_AccountSelect", new AccountSelectModel { Name = "Account", ClassName = "account-number", Accounts = Model.Accounts })
                            <select name="SubAccount" class="account-subaccount" disabled="disabled"><option value>--Sub Account--</option></select>
                            <input name="Project" type="text" placeholder="Project" class="account-projectcode" maxlength="4"/>
                            <img src="@Url.Image("details.png")" class="search-account" style="cursor: pointer;" />
                        </div>
					</div></span>
				</li>
                @if (Model.IsNewOrder || Model.Order.StatusCode.Id == Purchasing.Core.Domain.OrderStatusCode.Codes.Approver)
                {
                    <li>
                        <input type="radio" name="orderdetails" value="approver" id="approver" /><br />
                        <span class="label">
                        <label for="approver">Approver &amp; Account Manager</label><br />
                        <div class="editor-label">
                            Select An Approver:
                        </div>
                        <div class="editor-field">
                            @this.Select("approvers").FirstOption("Select An Approver (Optional)").Options(Model.Approvers, x=>x.Id, x=>x.FullNameAndId)
                        </div><br />
                        <div class="editor-label">
                            Select An Account Manager:
                        </div>
                        <div class="editor-field">
                            @this.Select("accountmanagers").FirstOption("Select An Account Manager").Options(Model.AccountManagers, x=>x.Id, x=>x.FullNameAndId)
                        </div>
                        </span>
                    </li>
                }
                <li>
                    <input type="radio" name="orderdetails" value="split" id="split" />
                    <span class="label">
                    <label for="split" class="editor-label">Split Order</label>
                    <div class="editor-field">
                        <a id="split-order" class="button" href="#">Split Order Request</a>
                    </div>
                    </span>
                </li>
            </ul>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>

</section>