@using Purchasing.Core.Domain
@model OrderModifyModel

<section data-bind="visible: showForSplit('None')" id="order-account-section">
    <header class="ui-widget-header ui-corner-top">
        <div class="col1">Order Details</div>
        <div class="col2"><a href="#" title="Click here to learn all about entering order details" id="orderDetails-intro" data-tourid="orderDetails-intro" class="ui-icon ui-icon-help tour-help"></a><div style="clear:both;"></div></div>
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>
                Select the proper accounting/routing information.  Select an account if it is known, otherwise select the approver and account manager the order request should be routed.
            </p>
            <p>
                If this purchasing request needs to be split across multiple accounts you also have the option to 'Split Order Request' and 'Split By Line'.
            </p>    
        </div>
        <div id="details-select">
            <a class="details-option"><input type="radio" data-bind="checked: orderSplitType, css: { selected: orderSplitType() === 'account' }" name="orderdetails" value="account" id="account" />
                    <label for="account" class="editor-label">
						Select An Account
					</label></a>


                @if (Model.IsNewOrder || Model.Order.StatusCode.Id == OrderStatusCode.Codes.Approver)
                {        
                        <a class="details-option"><input type="radio" data-bind="checked: orderSplitType, css: { selected: orderSplitType() === 'approver' }" name="orderdetails" value="approver" id="approver" />
                        <label for="approver" class="editor-label">Approver &amp; Account Manager</label></a>
                }
                
                    <a class="details-option"><input data-bind="click: splitByOrder" type="radio" name="orderdetails" value="split" id="split" />
                    <label for="split" class="editor-label">Split Order</label></a>

            <div class="details-content">
            
                <div id="account-form" data-bind="visible: orderSplitType() === 'account'">
                    <h2>Select an account</h2>
                    <div class="account-container">
                        <select data-bind="value: account, foreach: $root.accounts" id="Account" name="Account" class="account-number" title="No Account Selected">
                            <option data-bind="value: id, text: text, attr: { title: title }"></option>
                        </select>
                        <span class="ui-state-default ui-corner-all ui-state-hover" style="margin:0 0.1em 0; padding-top: .4em; vertical-align: sub; float: none; width: auto; display: inline;">
                        <a href="#" title="Search Accounts" class="search-account ui-icon ui-icon-search"></a></span>
                        <select data-bind="enable: $root.shouldEnableSubAccounts(subAccounts), value: subAccount, options: subAccounts, optionsCaption: '--Sub Account--'" name="SubAccount" class="account-subaccount"></select>
                        <input data-bind="value: project" name="Project" type="text" placeholder="Proj" class="account-projectcode" maxlength="4"/>
                    </div>
				</div>

                @if (Model.IsNewOrder || Model.Order.StatusCode.Id == OrderStatusCode.Codes.Approver)
                {   
                <div id="account-manager" data-bind="visible: orderSplitType() === 'approver'">
                    <h2>Select an approver &amp; account manager</h2>
                    <div class="editor-label">Select An Approver:</div>
                    <div class="editor-field">
                        @this.Select("approvers").FirstOption("--Select An Approver (Optional)--").Options(Model.Approvers, x => x.Id, x => x.FullNameAndId)
                    </div>
                    <div class="editor-label">
                        Select An Account Manager:
                    </div>
                    <div class="editor-field">
                        <select id="accountmanagers" name="accountmanagers">
                            <option value="">--Select An Account Manager--</option>
                            <option value="anymanager">*Any Workgroup Account Manager*</option>
                            @foreach (var accountManager in Model.AccountManagers)
                            {
                            <option value="@accountManager.Id">@accountManager.FullNameAndId</option>   
                            }
                        </select>
                    </div>
                </div>
                }
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>

</section>