<section id="order-split-section" class="padded" style="display: none;">
    <header class="ui-widget-header ui-corner-top">
            <div class="col1">Order Account Splits</div>
            <div class="col2"><a href="#" id="add-order-split" class="button" style="float:right;" >Add Split</a><div style="clear:both;"></div></div>
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>

        <ul id="order-splits"></ul>
        <ul>
            <li>
                <div class="editor-label">Split Total</div>
                <div class="editor-field">
                    <span id="order-split-account-total">$0.00</span>
                    &nbsp;&nbsp;<span id="order-split-account-difference" class="amount-difference"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">Order Total</div>
                <div class="editor-field">
                    <span id="order-split-total">$100.50</span>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <div class="col1"></div>
        <div class="col2"><a href="#" id="cancel-order-split" class="button" style="float:right;" >Cancel Order Split</a><div style="clear:both;"></div></div>
    </footer>
</section>