@model OrderModifyModel

<section data-bind="visible: showForSplit('None')" id="order-account-section">
    <header class="ui-widget-header ui-corner-top">
        <div class="col1">Order Details</div>
        <div class="col2"><a href="#" title="Click here to learn all about entering order details" id="orderDetails-intro" data-tourid="orderDetails-intro" class="ui-icon ui-icon-help tour-help"></a><div style="clear:both;"></div></div>
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>
                Select the proper accounting/routing information.  Select an account if it is known, otherwise select the approver and account manager the order request should be routed.
            </p>
            <p>
                If this purchasing request needs to be split across multiple accounts you also have the option to 'Split Order Request' and 'Split By Line'.
            </p>    
        </div>
        <div>
            <ul>
                <li>
                    <input type="radio" name="orderdetails" value="account" id="account" />
                    <span class="label"><label for="account" class="editor-label">
						Select An Account
					</label>
					<div class="editor-field" id="account-form">
                        <div class="account-container">
                            <select data-bind="value: account, foreach: $root.accounts" id="Account" name="Account" class="account-number" title="No Account Selected">
                                <option data-bind="value: id, text: text, attr: { title: title }"></option>
                            </select>
                            <select data-bind="enable: $root.shouldEnableSubAccounts(subAccounts), value: subAccount, options: subAccounts, optionsCaption: '--Sub Account--'" name="SubAccount" class="account-subaccount"></select>
                            <input data-bind="value: project" name="Project" type="text" placeholder="Proj" class="account-projectcode" maxlength="4"/>
                            <img src="@Url.Image("details.png")" class="search-account" style="cursor: pointer;" />
                        </div>
					</div></span>
				</li>
                @if (Model.IsNewOrder || Model.Order.StatusCode.Id == Purchasing.Core.Domain.OrderStatusCode.Codes.Approver)
                {
                    <li>
                        <input type="radio" name="orderdetails" value="approver" id="approver" /><br />
                        <span class="label">
                        <label for="approver">Approver &amp; Account Manager</label><br />
                        <div class="editor-label">
                            Select An Approver:
                        </div>
                        <div class="editor-field">
                            @this.Select("approvers").FirstOption("Select An Approver (Optional)").Options(Model.Approvers, x=>x.Id, x=>x.FullNameAndId)
                        </div><br />
                        <div class="editor-label">
                            Select An Account Manager:
                        </div>
                        <div class="editor-field">
                            @this.Select("accountmanagers").FirstOption("Select An Account Manager").Options(Model.AccountManagers, x=>x.Id, x=>x.FullNameAndId)
                        </div>
                        </span>
                    </li>
                }
                <li>
                    <input type="radio" name="orderdetails" value="split" id="split" />
                    <span class="label">
                    <label for="split" class="editor-label">Split Order</label>
                    <div class="editor-field">
                        <a data-bind="click: splitByOrder" id="split-order" class="button" href="#">Split Order Request</a>
                    </div>
                    </span>
                </li>
            </ul>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>

</section>