<div id="peepsDialog" title="Users who can act on this order" style="display: none;">
    <form id="peeps-form">
        <section class="section-contents">
            <div class="section-text">
                <p>
                   <span id="peepsLoaderId" style="display: none;" ><img src='@Url.Image("ajax-loader.gif")'/> Retrieving user list</span>
                </p>    
            </div> 
            <ul id="peepsUl">
            </ul>
        </section>
    </form>
</div>