<div id="peepsDialog" title="User who have updated the quantity or comments for this line item." style="display: none;">
    <form id="peeps-form">
        
            <div class="section-text">
                <p>
                   <span id="peepsLoaderId" style="display: none;" ><img src='@Url.Image("ajax-loader.gif")'/> Retrieving user list</span>
                </p>    
            </div> 
            <table class="no-icon-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Update Date</th>
                        <th>What was Updated</th>
                    </tr>
                </thead>
                <tbody id="historyBody">
                    
                </tbody>
            </table>
        
    </form>
</div>