@model ReviewOrderViewModel

<script type="text/javascript">

    $(function () {

        var url = '@Url.Action("GetKfsStatus", "Order")';

        $.getJSON(url, { id: '@Model.Order.Id' }, function (result) {

            $("#kfs-docnum").html(result.DocumentNumber);
            $("#kfs-ponum").html(result.PoNumber);
            $("#kfs-potype").html(result.PoTypeCode);
            $("#kfs-received").html(result.Received);
            $("#kfs-fullypaid").html(result.FullyPaid);
            $("#kfs-routelevel").html(result.RouteLevel);

        });

    });

</script>

<section id="kfs" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header">Financial System Details</header>
    <div class="section-contents">
    <div class="col1">
    
        <ul>
            <li><span>Doc #:</span><strong id="kfs-docnum"></strong></li>
            <li><span>Route Level: </span><strong id="kfs-routelevel"></strong></li>
        </ul>

    </div>
    <div class="col2">
    <section class="display-form ui-corner-all" id="deliveryTo">

                    <header class="ui-corner-top ui-widget-header">_insert header here_</header>

                    <div class="section-contents">
                   

        <ul>
            <li><span>PO #:</span><strong id="kfs-ponum"></strong></li>
            <li><span>PO Type: </span><strong id="kfs-potype"></strong></li>
            <li><span>Received: </span><strong id="kfs-received"></strong></li>
            <li><span>Fully Paid: </span><strong id="kfs-fullypaid"></strong></li>
        </ul>
                            </div>

                </section>

    </div>
    </div>

</section>