@model ReviewOrderViewModel

@if (Model.CanEditOrder)
{
    <section class="ui-corner-all display-form">

        <header class="ui-corner-top ui-widget-header">Review Decision</header>
        
        <div class="section-contents">
            @using (Html.BeginForm("Approve", "Order"))
            {
                @Html.Hidden("id", Model.Order.Id)
                @Html.AntiForgeryToken()

                <ul>
                    <li>
                        <div class="display-label">Comment (Required For Deny)</div>
                        <div class="display-details"><textarea id="comment" name="comment"></textarea></div>
                    </li>
                    @if (!Model.IsPurchaser)
                    {
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <span>Complete order and </span>
                                <select>
                                    <option>Send to KFS</option>
                                    <option>Finalize as PCard Order</option>
                                    <option>Finalize as UCD Buy Order</option>
                                </select>
                                <input type="submit" id="complete-order" name="action" class="button" value="Complete"/>
                                <br/>
                                (or)
                                <br/><br/>
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <input type="submit" id="approve-order" name="action" class="button" value="Approve"/>
                                (or)
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                        
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
    
}