@model ReviewOrderViewModel

<section id="kfs-section" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header">Financial System Details</header>

    <div class="section-contents">
    
        <ul>
            <li>Doc #:<span id="kfs-docnum"></span></li>
            <li>PO #:<span id="kfs-ponum"></span></li>
            <li>PO Type: <span id="kfs-potype"></span></li>
            <li>Received: <span id="kfs-received"></span></li>
            <li>Fully Paid: <span id="kfs-fullypaid"></span></li>
            <li>Route Level: <span id="kfs-routelevel"></span></li>
        </ul>

    </div>

</section>