@model ReviewOrderViewModel

@if (Model.CanSubmitOrder)
{
    <section class="ui-corner-all display-form">
        <header class="ui-corner-top ui-widget-header">Review Decision</header>
        <div class="section-text">
            @if (Model.IsPurchaser)
            {
                <p>Complete this order by chosing the type of order this request should become and climbing 'Complete'</p>
            }
            else
            {
                <p>You can approve this order by clicking 'Approve' below, or deny the order by entering a comment (required for denials) and clicking 'Deny'.</p>   
            }
        </div>
        
        <div class="section-contents">
            @using (Html.BeginForm("Approve", "Order", new { Model.Order.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <ul>
                    <li>
                        <div class="display-label">Comment (Required For Deny)</div>
                        <div class="display-details"><textarea id="comment" name="comment"></textarea></div>
                    </li>
                    @if (Model.IsPurchaser)
                    {
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <span>Complete order as </span>
                                @this.Select("orderType").Options(Model.OrderTypes, x => x.Id, x => x.Name)
                                <input type="submit" id="complete-order" name="action" class="button" value="Complete"/>
                                <br/>
                                (or)
                                <br/><br/>
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="display-label">&nbsp;</div>
                            <div class="display-details">
                                <input type="submit" id="approve-order" name="action" class="button" value="Approve"/>
                                (or)
                                <input type="submit" id="deny-order" name="action" class="button" value="Deny" />
                        
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
    
}