@model ReviewOrderViewModel

@if (Model.CanEditFdpCompleted)
{
    <section class="ui-corner-all display-form">
        <header class="ui-corner-top ui-widget-header showInNav">FPD Completed Status </header>
        <div class="section-text">
            <p>This is used for matching up P Card purchases with the DaFIS/KFS FPD documents</p>    
        </div>

        <div class="section-contents">

            @using (Html.BeginForm("FpdComplete", "Order", FormMethod.Post))
            {
                @Html.Hidden("id", Model.Order.Id)
                @Html.AntiForgeryToken()

                <ul>
                    <li>
                        <div class="display-label"> FPD Completed</div>
                        <div class="display-details">
                            
                            <input id="checkbox" name="fpdCompleted" type="checkbox" value="true" @(Model.Order.FpdCompleted ? "checked='checked'" : "") />
                        </div>
                    </li>
                    <li>
                        <div class="display-label">&nbsp;</div>
                        <div class="display-details">
                            <input type="submit" id="fpd-complete-order" class="button" value="Update FPD Completed"/>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </section>
}


