@model OrderModifyModel
<div id="address-dialog" title="Add Shipping Address">
    <form id="address-form">
    <section class="section-contents">
        <div class="section-text">
            <p>
                Please fill out the information for a new shipping address and then click 'Create Shipping Address'. 
                Fields decorated with <span style="color: red;">*</span> are required.
            </p>  
        </div>
        <ul>
            <li>
                <div class="editor-label required">
                    Name: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-name" name="address-name" type="text" placeholder="Address Name"
                        class="required" maxlength="50" />
                    <span data-valmsg-for="address-name" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Building: </div>
                <div class="editor-field">
                    <input id="address-building" name="address-building" type="text" placeholder="Building" maxlength="50" />
                    <input id="address-buildingcode" name="address-buildingcode" type="hidden" />
                    <span data-valmsg-for="address-building" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Room: </div>
                <div class="editor-field">
                    <input id="address-room" name="address-room" type="text" placeholder="Room"
                        maxlength="50" />
                    <span data-valmsg-for="address-room" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    Address: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-address" name="address-address" type="text" placeholder="Address"
                        class="required" maxlength="100" />
                    <span data-valmsg-for="address-address" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    City: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-city" name="address-city" type="text" placeholder="City" class="required"
                        maxlength="100" />
                    <span data-valmsg-for="address-city" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    State: <span class="required">*</span></div>
                <div class="editor-field">
                    @this.Select("address-state").Options(Model.States, a => a.Id, a => a.Name).FirstOption("--Select State--").Selected("CA")
                    <span data-valmsg-for="address-state" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">
                    Zip: <span class="required">*</span></div>
                <div class="editor-field">
                    <input id="address-zip" name="address-zip" type="text" placeholder="Zip" class="required"
                        maxlength="10" />
                    <span data-valmsg-for="address-zip" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label">
                    Phone:</div>
                <div class="editor-field">
                    <input id="address-phone" name="address-phone" type="text" placeholder="Phone Number"
                        maxlength="15" />
                    <span data-valmsg-for="address-phone" data-valmsg-replace="true"></span>
                </div>
            </li>
        </ul>
    </section>
    </form>
</div>
