<section>
        
    <div class="section-contents">
        
        <ul>
            <li><div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    
                    <input type="submit" class="button" value="@(ViewBag.Title == "Request" ? "Create" : ViewBag.Title)" />
                    |
                    @Html.ActionLink("Cancel", "Landing", "Home")
                </div>
            </li>
        </ul>

    </div>
</section>