@using Purchasing.Core.Domain
@model IEnumerable<UnitOfMeasure>
<script id="unit-of-measure-select-template" type="text/x-jquery-tmpl">
    <select class="unit" id="units" name="items[${index}].units">
        @foreach (UnitOfMeasure unit in Model)
        {
            <option value="@unit.Id" @if(unit.Id == "EA"){ <text>selected="selected"</text> }>@unit.Name</option>
        }
    </select>
</script>