@model FilteredOrderListModelDto
           
@{
    ViewBag.Title = "Orders";
    ViewBag.DataTablesPageSize = 50;
    ViewBag.SingleColumn = false;
    ViewBag.GetMethod = "Index";
    ViewBag.LoadTableTools = true;
    
    Bundles.Reference("scripts/public/single/TableTools.js");
    Bundles.Reference("scripts/public/single/ZeroClipboard.js");
    Bundles.Reference("scripts/public/single/RearrangeDataTable.js");
   
}

@section SubNav
{
	<ul class='navigation'>
        @*<li>@Html.ActionLink("Create New", "Create")</li>*@
        <li>@*@Html.ActionLink("Filters", "filters", "", new { @class = "button" })*@
            <a href="#" id="filterToggle" class="button selected">Filters</a>
        </li>
        <li>@Html.ActionLink("Update Column Preferences", "ColumnPreferences", "User", new { id = User.Identity.Name, fromList = true }, new { @class = "button" })</li>
	</ul>
}


@section AdditionalScripts
{
    <script type="text/javascript">
        $(function () {
            $("#filterToggle").click(function () {
                $(".dt-table-filter-header").toggle();
                $(this).toggleClass("selected");
                event.preventDefault();
            });
        });
    </script>
}

@if (string.IsNullOrWhiteSpace(Model.ShowLast))
 {
    @Html.Partial("_OrderFilter", Model)
 }
    
@Html.Partial("_OrdersTable", Model)