@model FilteredOrderListModelDto
           
@{
    ViewBag.Title = "Orders";
    ViewBag.DataTablesPageSize = 50;
    ViewBag.SingleColumn = false;
    ViewBag.GetMethod = "Index";
}

@section AdditionalScripts {
    <script type="text/javascript">
        $(function () { purchasing.loadTableTools = true; });
     </script>
     <script type="text/javascript" charset="utf8" src="../../Scripts/DataTables-1.9.0/media/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript" charset="utf-8" src="../../Scripts/DataTables-1.9.0/extras/TableTools/media/js/TableTools.js"></script>
        <script type="text/javascript" src="../../Scripts/DataTables-1.9.0/extras/TableTools/media/js/ZeroClipboard.js"></script>
}

@section SubNav
{
	<ul class='navigation'>
        @*<li>@Html.ActionLink("Create New", "Create")</li>*@
        <li>@Html.ActionLink("Update Column Preferences", "ColumnPreferences", "User", new { id = User.Identity.Name, fromList = true }, new { @class = "button" })</li>
	</ul>
}


@if (string.IsNullOrWhiteSpace(Model.ShowLast))
 {
    @Html.Partial("_OrderFilter", Model)
 }
    
@Html.Partial("_OrdersTable", Model)

