@model IEnumerable<Purchasing.Core.Domain.Workgroup>

@{
    ViewBag.Title = "Select Workgroup for Order";
}

@section AdditionalScripts
{
    <script type="text/javascript">
        $(function () {
            $(".workgroup").hover(
                function () {
                    $(this).addClass("ui-state-hover");
                    $(this).removeClass("ui-state-active");
                },
                function () {
                    $(this).removeClass("ui-state-hover");
                    $(this).addClass("ui-state-active");
                });
        });
    </script>

    <style type="text/css">
        #workgroup-container
        {
            margin: 1em;
        }
    </style>
}

@if (Model.Count() == 0)
{
    <div class="ui-state-highlight">
        You are not a requester in any workgroup.  You do not have permissions to place orders, please contact your department administrator for help with permissions.
    </div>
}
else
{
    <div id="workgroup-container">
    <section class="display-form">
    <header class="ui-widget-header ui-corner-top">Select a Workgroup</header>

        
        <div class="section-text">
            <p>You have access to multiple workgroups. Please choose the one you wish to submit this order under.</p>    
        </div>

        <ul>
            <li>
        @foreach (var workgroup in Model)
        {
            <p style="margin:1em;">
            <a href="@Url.Action("Request", "Order", new {id=workgroup.Id})">
                <span class="workgroup-name" style="font-weight:bold;">@workgroup.Name</span> —
                <span class="workgroup-departments">@string.Join(",", workgroup.Organizations.Select(a=>a.Name))</span>
            </a>
            </p>
        }
            </li>
        </ul>


</section>

    </div>
}