@{
    ViewBag.Title = "Training Setup Console";
}

<h2>Setup new database?</h2>

@using (Html.BeginForm())
{
    
    @*<input type="hidden" value="anlai" name="userIds"/>*@
    
    for (var i = 0; i < 20; i++)
    {
        <input type="text" name="userIds"/>     
    }
    
    @Html.AntiForgeryToken()
    <input type="submit" value="Setup Database"/>
}
