<?xml version="1.0"?>
<appSettings>

    <!-- Please define all keys in OrAdmin.Core.Settings.GlobalSettings  -->

    <add key="SSL" value="true" />

    <add key="IconImageUrl" value="~/Content/Img/Fugue/" />

    <add key="SystemTitle" value="OR Administration" />
    <add key="SystemFromAddress" value="oradmin@ucdavis.edu" />

    <add key="ProgrammerLogin" value="derekh" />
    <add key="ProgrammerName" value="Derek Hunziker" />
    <add key="ProgrammerEmail" value="dthunziker@ucdavis.edu" />

    <add key="OwnershipLogoUrl" value="http://research.ucdavis.edu" />
    <add key="OwnershipLogoPath" value="/Content/Img/Common/or-logo.gif" />
    <add key="OwnershipLogoAlt" value="UC Davis: Office of Research" />
    <add key="OwnershipAddressHtml" value="1850 Research Park Drive&lt;br /&gt;Suite 300&lt;br /&gt;Davis, CA 95618-6153&lt;br /&gt;" />
    <add key="OwnershipContactHtml" value="&lt;strong&gt;Technical Support&lt;/strong&gt;&lt;br /&gt;(530) 754-7785&lt;br /&gt;iss-help@ucdavis.edu" />

    <add key="CASHost" value="https://cas.ucdavis.edu/cas/"/>
    <add key="LogoutUrl" value="/system/account/logout" />
    <!-- https://cas.ucdavis.edu/cas/logout -->

    <add key="PurchasingTax" value="8.25" />
    <add key="PurchasingInitialItemRows" value="3" />
    <add key="PurchasingMaxItemRows" value="20" />
    <add key="PurchasingMaxApprovers" value="4" />
    <add key="PurchasingMaxUploadMB" value="20" />

    <add key="UploadPath" value="~/Content/Uploads/" />

</appSettings>
