@{
    ViewBag.Title = "Index";
}

<h2>Create Workgroup Wizard</h2>
This is where you can create a new workgroup!!!!!
During the wizard, you will only be able to add objects to the workgroup. Edit and delete options will be available in the regular workgroup pages.
Please click @Html.ActionLink("begin wizard", "CreateWorkgroup")