@model IEnumerable<Purchasing.Core.Domain.WorkgroupVendor>

@{
	ViewBag.StepName = "Confirm Vendors";
    if(ViewBag.IsAccountSync)
    {
        ViewBag.Previous = Url.Action("People", "Wizard", new { id = ViewBag.WorkgroupId, roleFilter = "PR" });
    }
    else
    {
        ViewBag.Previous = Url.Action("Accounts", "Wizard", new {id = ViewBag.WorkgroupId});    
    }
    ViewBag.Next = Url.Action("AddAddresses", "Wizard", new { id = ViewBag.WorkgroupId });
	ViewBag.ListPage = true;
    //ViewBag.IsAdministrative// set in controller
}

	 @await Html.PartialAsync("_StatusBar", (int)ViewBag.WorkgroupId)
	 @await Html.PartialAsync("_Navigation")
     <nav class="col2">
         <ul class='navigation'>
             <li>
                 <a href="#" id="help-kfsadd" class="ui-icon ui-icon-help showTip" style="margin-bottom: -6px;" title="
                    Using the wizard, vendors can only be added. To edit or remove a vendor, use the admin: workgroup page.</br>
                    To add existing KFS Vendors to this workgroup, choose the button Select KFS Vendor."></a>
             </li>
             <li>@Html.ActionLink("Select Campus Vendor", "AddKfsVendor", new { id = ViewBag.WorkgroupId }, new { @class="button" })</li>
             <li>
                 <a href="#" id="help-nonkfsadd" class="ui-icon ui-icon-help showTip" style="margin-bottom: -6px;" title="
                    Using the wizard, vendors can only be added. To edit or remove a vendor, use the admin: workgroup page.</br>
                    To add non Campus vendors to this workgroup, choose the button Add Vendor. </br>
                    If a non-campus Vendor is used for an order that goes through Aggie Enterprise, it will have to be added to that system."></a>
             </li>
             <li>@Html.ActionLink("Add Vendor ", "addNewVendor", new { id = ViewBag.WorkgroupId }, new { @class = "button" })</li>
         </ul>
    </nav>


@await Html.PartialAsync("_VendorTable", Model)

@await Html.PartialAsync("_Navigation")
   
