<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net451" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="3.2.0.4000" requireReinstallation="True" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net451" />
  <package id="RhinoMocks" version="3.6" targetFramework="net451" />
  <package id="SQLitex64" version="1.0.66" />
  <package id="UcdArch" version="5.1.0.145" targetFramework="net451" />
  <package id="UcdArch.NHibernate" version="5.1.0.145" targetFramework="net451" />
</packages>