@model Purchasing.Web.Controllers.WorkgroupManageModel

@{
	ViewBag.Title = "Manage Workgroup";
}

@section SubNav
{
	<ul class="navigation">
		<li>Accounts</li>
        <li>Vendors</li>
        <li>Addresses</li>
        <li>People</li>
	</ul>
}

@section AdditionalScripts{
    
    <style>
        .workgroup-info {
            border-collapse: collapse;
            border-spacing: 0;
            width: auto;
            border: none;
        }
        
        .none-warning
        {
            color: #900;
        }
    </style>
}

<h3>Manage workgroup @Model.Workgroup.Name</h3>
<br/><br/>
<h4>Workgroup Associations</h4>
<table class="workgroup-info">
    <tbody>
        <tr>
            <td>
                Organizations:
            </td>
            <td>
                @Model.OrganizationCount
            </td>
            <td>
                Edit
            </td>
        </tr>
        <tr>
            <td>
                Accounts:
            </td>
            <td>
                @Model.AccountCount
            </td>
            <td>
                Edit
            </td>
        </tr>
        <tr class="none-warning">
            <td>
                Vendors:
            </td>
            <td>
                0
            </td>
            <td>
                Edit
            </td>
        </tr>
        <tr>
            <td>
                Addresses:
            </td>
            <td>
                1
            </td>
            <td>
                Edit
            </td>
        </tr>
    </tbody>
</table>

<br/><br/>
<h4>Workgroup People</h4>
<table class="workgroup-info">
    <tbody>    
        <tr>
            <td>
                Users:
            </td>
            <td>
                1
            </td>
        </tr>
        <tr>
            <td>
                Approvers:
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                Account Managers:
            </td>
            <td>
                4
            </td>
        </tr>
        <tr class="none-warning">
            <td>
                Purchasers:
            </td>
            <td>
                0
            </td>
        </tr>
    </tbody>
</table>