<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
  </runtime>
  <appSettings>
    <add key="Stackify.AppName" value="Purchasing" />
    <add key="Stackify.Environment" value="" />
    <add key="Stackify.ProxyServer" value="" />
    <add key="Stackify.ApiKey" value="[External]" />
    <add key="Stackify.ElasticUrl" value="[External]" />
  </appSettings>
<startup></startup></configuration>
