@{
    ViewBag.Title = "Test";

}

<h2>Test</h2>



<script type="text/javascript">
    $(function () {
        $("#test").click(function () {
            var url = '@Url.Action("Update")';
            var perm = [{ UserId: "jsylvest", Action: "D", RoleId: "AP" }, { UserId: "jsylvest", Action: "D", RoleId: "AM" }, { UserId: "jsylvest", Action: "D", RoleId: "PR" }, { UserId: "anlai", Action: "D", RoleId: "AP" }, { UserId: "jsylvest", Action: "A", RoleId: "AP" }, { UserId: "anlai", Action: "A", RoleId: "AP" }, { UserId: "jsylvest", Action: "A", RoleId: "AM" }, { UserId: "jsylvest", Action: "A", RoleId: "PR"}];

            var data = { id: "022cd8a0-8237-4d0d-b7be-a92fa3d6499a", permissions: perm };

            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (result) {
                        alert(result.result);
                    } else {
                        alert("There was a problem updating");
                    }
                }
            });
        });
    });
</script>
    
    
    <a id="test" href="#" class="button showTip" title="Test.">Test</a>