@model CustomFieldViewModel

@{
	ViewBag.Title = "Create Custom Field";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", new { id = Model.Organization.Id }, new { @class = "button" })</li>
	</ul>
}

	
@await Html.PartialAsync("_CustomFieldForm")