/* ---------------------------- */
/* DataTables Specific Styling  */
/* ---------------------------- */
.dataTables_length {width: 40%;	float: left;}
.dataTables_filter {width: 50%;	float: right; text-align: right;}
.dataTables_info {width: 60%;	float: left;}
.dataTables_paginate {width: auto; float: right; text-align: right;}
.dataTables_paginate .ui-button { margin-right: .1em !important; padding: 0 .25em;}
div.dataTables_wrapper .ui-toolbar{padding: 5px;}
div.dataTables_wrapper table{margin: 0;clear:both;}
.DataTables_sort_wrapper{cursor:pointer;}
.css_right { float:right;}
.clear { clear: both; }

/* ---------------- */
/*  table filter    */
/* ---------------- */ 
.table-filter {position: absolute; top: 150px; left: 0; display: none; border: 1px solid #DDDDDD; width: 300px; height: auto; padding: 1em; background-color: #01487E; color: white; opacity: .9; -moz-opacity: .9;}
.table-filter a {color: white;}
.table-filter-trigger{position: absolute; top: 150px; left: 0; padding: 1em; border: 1px solid #DDDDDD; display: block; background: -moz-linear-gradient(0% 20% 90deg, #024B82, #002359) repeat scroll 0 0 transparent; color: white; cursor: pointer; text-align: center;}
.table-filter-trigger:hover{background: -moz-linear-gradient(0% 20% 90deg, #024B82, #CCCCCC) repeat scroll 0 0 transparent; color: white;}
.table-filter-trigger a {color: white;}
.table-filter-trigger.active{background: #222222;}
.close-container{border: 1px solid #DDDDDD; padding: 5px; float: right;}
.close-container:hover{background-color: #DDDDDD;}

/* ---------------- */
/*  Custom Table    */
/* ---------------- */ 
.no-icon-table tr  > td:first-child {width:auto; text-align:left;}
.no-icon-table tr > td:last-child {width:auto; text-align:left;}
.td-days-overdue-warning { color: red;}

/* ---------------- */
/*  Order Page      */
/* ---------------- */ 
.line-item-warning 
{
    background: lightsalmon;
}
.line-item-ok 
{
    background: lightgreen;
}

/* ---------------- */
/*    columns       */
/* ---------------- */    
.col1-5 { width: 4%; display: inline-block; vertical-align:top;}
.col2-95 { width: 95%; display: inline-block; vertical-align:top;}

/* ------------------------ */
/*    jquery ui-override    */
/* ------------------------ */    
.ui-state-highlight { padding: 1em; }