/* ---------------------------- */
/* DataTables Specific Styling  */
/* ---------------------------- */
.dataTables_length {width: 40%;	float: left;}
.dataTables_filter {width: 50%;	float: right; text-align: right;}
.dataTables_info {width: 60%;	float: left;}
.dataTables_paginate {width: auto; float: right; text-align: right;}
.dataTables_paginate .ui-button { margin-right: .1em !important; padding: 0 .25em;}
div.dataTables_wrapper .ui-toolbar{padding: 5px;}
div.dataTables_wrapper table{margin: 0;clear:both;}
.DataTables_sort_wrapper{cursor:pointer;}
.css_right { float:right;}
.clear { clear: both; }