/* ---------------------------- */
/* DataTables Specific Styling  */
/* ---------------------------- */
.dataTables_length {width: 40%;	float: left;}
.dataTables_filter {width: 50%;	float: right; text-align: right;}
.dataTables_info {width: 60%;	float: left;}
.dataTables_paginate {width: auto; float: right; text-align: right;}
.dataTables_paginate .ui-button { margin-right: .1em !important; padding: 0 .25em;}
div.dataTables_wrapper .ui-toolbar{padding: 5px;}
div.dataTables_wrapper table{margin: 0;clear:both;}
.DataTables_sort_wrapper{cursor:pointer;}
.css_right { float:right;}
.clear { clear: both; }

/* ---------------- */
/*  table filter    */
/* ---------------- */ 
.table-filter {position: absolute; top: 150px; left: 0; display: none; border: 1px solid #DDDDDD; width: 300px; height: auto; padding: 1em; background-color: #01487E; color: white; opacity: .9; -moz-opacity: .9;}
.table-filter a {color: white;}
.table-filter-trigger{position: absolute; top: 150px; left: 0; padding: 1em; border: 1px solid #DDDDDD; display: block; background: -moz-linear-gradient(0% 20% 90deg, #024B82, #002359) repeat scroll 0 0 transparent; color: white; cursor: pointer; text-align: center;}
.table-filter-trigger:hover{background: -moz-linear-gradient(0% 20% 90deg, #024B82, #CCCCCC) repeat scroll 0 0 transparent; color: white;}
.table-filter-trigger a {color: white;}
.table-filter-trigger.active{background: #222222;}
.close-container{border: 1px solid #DDDDDD; padding: 5px; float: right;}
.close-container:hover{background-color: #DDDDDD;}

/* ---------------- */
/*  Custom Table    */
/* ---------------- */ 
.no-icon-table tr  > td:first-child {width:auto; text-align:left;}
.no-icon-table tr > td:last-child {width:auto; text-align:left;}
.td-days-overdue-warning { color: red;}

/* ---------------- */
/*  Order Page      */
/* ---------------- */ 
.line-item-warning 
{
    background: lightsalmon;
}
.line-item-ok 
{
    background: lightgreen;
}

.help
{
    font-style: italic;
    margin-bottom: 1em;
}
.line-item-row
{
    background-color: #D5DBE1;
}
.sub-line-item
{
    border-spacing: 0;
    border: 0;
    background-color:#F2EBCC;
}
.sub-line-item-split
{
    border-spacing: 0;
    border: 0;
    background-color:#B2C9C5;
}
        
#order-splits > li { background-color: #B2C9C5; margin:1em; padding:2em;}
        
form input[type='text'].quantity { min-width: 0; width: 40px;}
form select.unit { min-width: 80px; width: 40px;}
form input[type='text'].catalog-num { min-width: 0; width: 100px;}
form input[type='text'].description { min-width: 0; width: 520px;}
form input[type='text'].price,#shipping, #tax,#freight  { min-width: 0; width: 40px;}
        
form select.account-subaccount, form select.account-number {min-width: 130px; width: 130px;}
form input.account-projectcode {min-width: 80px; width: 80px;}

.account-container, .account-split-amounts {display: inline-block;}
.account-container {margin-right: 80px;}

#accounts-search-dialog header { display: inline-block; width: 100%; border-bottom: 1px solid #DDDDDD; padding-bottom: 3px;}
#accounts-search-dialog section { padding: 1em; }
#accounts-search-dialog select, #accounts-search-dialog input[type='text'] {padding: .5em;}

#accounts-search-dialog-results .selected {background-color: lightblue;}
        
#search-vendor-dialog input[type='text'], #search-vendor-dialog select {padding: .5em; min-width: 300px; width: 300px;}
#search-vendor-dialog section {padding: 1em; margin: 10px 0;}

#add-line-item {}
.invisible { display:none; }
        
.line-item-details, .line-item-splits {display: none;}
        
.invalid-number-warning
{
    background-color: #FFDCDC;
}
        
td {text-align: left;}        
        
.qq-upload-button
{
        -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; 
        -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
        -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}

/* ---------------- */
/*    columns       */
/* ---------------- */    
.col1-5 { width: 4%; display: inline-block; vertical-align:top;}
.col2-95 { width: 95%; display: inline-block; vertical-align:top;}

/* ------------------------ */
/*    jquery ui-override    */
/* ------------------------ */    
.ui-state-highlight { padding: 1em; }

/* ------------------------ */
/*    Workgroup Wizard nav  */
/* ------------------------ */ 
#statusbar {margin:0 auto 3em auto; width:80%;}
#statusbar h1 {text-align:center; margin:0 0 10px 0;}
#statusbar li {width:9%; display:inline-block; padding:2px 0px; margin:0; background-color:#aac9e1; height:5px;}
#statusbar li.active {background-color:#97C404;}
#statusbar li.completed {background-color:#014A81;}
#statusbar li:hover {background-color:#97C404; cursor:pointer;}
.hidden_text {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
#WizardNavigation li { text-align:center; display: inline-block;}